$md-width: 08.1%;
$color: #666633;


////////////////////////////////////////////////////////////////////////////
/*                            FONT  SCSS  CODE                            */
////////////////////////////////////////////////////////////////////////////

@font-face{
	font-family: robotob;
	src: url('../fonts/roboto/Roboto-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: robotol;
	src: url('../fonts/roboto/Roboto-Light.ttf');
	font-weight: normal;
	font-style: normal;
}


////////////////////////////////////////////////////////////////////////////
/*                           GLOBAL  SCSS  CODE                           */
////////////////////////////////////////////////////////////////////////////

h1, h2, h3, h4, h5, h6{
	font-family: robotob;
}

p, i, span, div{
	font-family: robotol;
}

.block{

	width: 1104px;
	margin: 0 auto;
	padding: 0 20px;
	display: block;

	.line{
		width: 98%;
		margin: 0 auto;
	}

	.md-1, .md-2, .md-3, .md-4, .md-5, .md-6, .md-7, .md-8, .md-9, .md-10, .md-11, .md-12{
		display: inline-block!important;
	}

	.md-1{
		width: $md-width;
	}

	.md-3{
		width: $md-width*3;
	}

	.md-4{
		width: $md-width*4;
	}

	.md-8{
		width: $md-width*8;
	}

	.md-offset-2{
		margin-left: $md-width*2;
	}
}



////////////////////////////////////////////////////////////////////////////
/*                            MAIN  SCSS  CODE                            */
////////////////////////////////////////////////////////////////////////////


body{
	width: 100vw;
	overflow-x: hidden;
	margin: 0;
}

header{

	height: 70px;
	line-height: 70px;
	color: #fff;
	background-color: $color;
	position: fixed;
	width: 100%;

	.block{
		width: 100%!important;
		.line{
			padding-right: 25px;
		}
		.name{
			font-size: 1.3rem;
			font-weight: bold!important;
			word-spacing: 10px;
			width: 25%;
			float: left;
			h4{
				margin: 0!important;
			}
		}
		.menu{
			width: 48%;
			float: left;
		}
		.research{
			width: 25%;
			float: left;
			padding-right: 2%;
		}
		.menu, .research{
			text-align: right;
		}
	}

	.menu{
		ul{
			padding: 0!important;
			margin: 0!important;
		}

		a{
			color: #fff;
			font-weight: bold;
			margin-left: 30px;
			text-decoration: none;
			&:hover{
				color: #ddd;
			}
		}
	}

	.research{
		form{
			padding: 0;
		}

		input, button{
			height: 40px;
			border: none;
			font-size: 1rem;
		}

		input{
			width: 70%;
			background-color: darken($color, 15);
			padding-left: 10px;
			margin-right: 0;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
			outline: none;
			&::placeholder{
				color: #ddd;
			}
			&:focus{
				background-color: darken($color, 15);
				color: #eee;
				&::placeholder{
					color: #fff;
				}
			}
		}

		button{
			width: 15%;
			margin-left: -5px;
			background-color: darken($color, 10);
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
			color: #fff;
			cursor: pointer;
		}
	}
}

section#title {
  padding: 50px 0 75px 0;
  background-color: $color;
  color: #fff;
  padding: 60px;
  .md-8 {
    text-align: justify;
    float: none!important;
    div.name {
      font-size: 2.5rem;
    }
    p {
      font-size: 1.7rem;
    }
    span.date {
      font-size: 1.2rem;
      font-style: italic;
      color: #eee;
    }
  }
}



section.main{
	padding-bottom: 60px;
	h1, h2, h3{
		font-weight: bolder;
		color: #777;
	}

	h1{
		font-size: 2rem;
		margin-top: 60px;
	}
	h2{
		font-size: 1.7rem;
		margin-top: 45px;
	}
	h3{
		font-size: 1.5rem;
		margin-top: 35px;
	}
	p{
		font-size: 1.3rem;
		line-height: 2rem;
		color: #555;
		text-align: justify;
	}
	span.date{
		font-size: 1.2rem;
		font-style: italic;
		color: #888;
	}
	span.important{
		font-size: 1.2rem;
		font-style: italic;
		color: #000;
		font-weight: bold;
	}
	a{
		color: $color;
		text-decoration: none;
	}
	a:hover{
		color: darken(red, 10);
	}
}

footer{
	margin-top: 40px!important;
	display: block;
	padding-bottom: 40px;
	.md-8{
		text-align: center;
	}
	hr{
		border: none;
		height: 1px;
		background-color: #ddd;
		margin-bottom: 60px;
	}
	div.social{
		margin-bottom: 40px;
		a{
			text-decoration: none;
			color: #fff;
			margin-right: 20px;
			img{
				padding: 12px;
				background-color: #bbb;
				border-radius: 50%;
			}
		}
		a.twitter{
			&:hover{
				img{
					background-color: #1589E7;
				}
			}
		}
		a.facebook{
			&:hover{
				img{
					background-color: #3b5998;
				}
			}
		}
		a.google{
			&:hover{
				img{
					background-color: darken(red, 3);
				}
			}
		}
	}
	span.copy{
		color: #555;
		font-size: 1.1rem; 
		font-style: italic;
		margin-top: 30px;
	}
}


////////////////////////////////////////////////////////////////////////////
/*                            FORM  SCSS  CODE                            */
////////////////////////////////////////////////////////////////////////////

div.form-container{
	margin-top: 60px;
	
	label{
		font-size: 1.2rem;
		font-weight: bold;
		margin-bottom: 12px;
		display: block;
		&.check{
			display: inline!important;
		}
	}

	input{
		border: 1px solid #ccc;
	}

	input, select{
		width: 100%;
		height: 35px;
		line-height: 35px;
		margin-bottom: 30px;
		font-size: 1rem;
		padding-left: 5px;
		color: #444;
		background: none;
	}

	textarea{
		width: 100%;
		height: 200px;
		padding: 10px 5px;
		font-size: 1.1rem;
		margin-bottom: 30px;
	}

	input, select, textarea{
		outline: none;
		border-radius: 5px;
		&:focus{
			box-shadow: 0 0 3px #999;
		}
	}

	button{
		height: 50px;
		line-height: 50px;
		padding: 0 40px;
		font-size: 1rem;
		cursor: pointer;
		background: linear-gradient($color, darken($color, 20));
		border: 1px solid #eee;
		color: #fff;
		border-radius: 6px;
		transition: 300ms ease-in-out;

		&:hover{
			background: linear-gradient(darken($color, 20), $color);
			transition: 300ms ease-in-out;
		}
	}
	
}


div.list{
	ul{
		padding: 0;
		border: 1px solid #efefef;
		li{
			list-style: none;
			height: 40px;
			line-height: 40px;
			color: #555;
			padding-left: 10px;
			&:nth-child(2n){
				background-color: #efefef;
			}
			&:hover{
				background-color: #e2e2e2;
			}
		}
	}
}