/*                            FONT  SCSS  CODE                            */
@font-face {
  font-family: robotob;
  src: url("../fonts/roboto/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: robotol;
  src: url("../fonts/roboto/Roboto-Light.ttf");
  font-weight: normal;
  font-style: normal; }
/*                           GLOBAL  SCSS  CODE                           */
h1, h2, h3, h4, h5, h6 {
  font-family: robotob; }

p, i, span, div {
  font-family: robotol; }

.block {
  width: 1104px;
  margin: 0 auto;
  padding: 0 20px;
  display: block; }
  .block .line {
    width: 98%;
    margin: 0 auto; }
  .block .md-1, .block .md-2, .block .md-3, .block .md-4, .block .md-5, .block .md-6, .block .md-7, .block .md-8, .block .md-9, .block .md-10, .block .md-11, .block .md-12 {
    display: inline-block !important; }
  .block .md-1 {
    width: 8.1%; }
  .block .md-3 {
    width: 24.3%; }
  .block .md-4 {
    width: 32.4%; }
  .block .md-8 {
    width: 64.8%; }
  .block .md-offset-2 {
    margin-left: 16.2%; }

/*                            MAIN  SCSS  CODE                            */
body {
  width: 100vw;
  overflow-x: hidden;
  margin: 0; }

header {
  height: 70px;
  line-height: 70px;
  color: #fff;
  background-color: #666633;
  position: fixed;
  width: 100%; }
  header .block {
    width: 100% !important; }
    header .block .line {
      padding-right: 25px; }
    header .block .name {
      font-size: 1.3rem;
      font-weight: bold !important;
      word-spacing: 10px;
      width: 25%;
      float: left; }
      header .block .name h4 {
        margin: 0 !important; }
    header .block .menu {
      width: 48%;
      float: left; }
    header .block .research {
      width: 25%;
      float: left;
      padding-right: 2%; }
    header .block .menu, header .block .research {
      text-align: right; }
  header .menu ul {
    padding: 0 !important;
    margin: 0 !important; }
  header .menu a {
    color: #fff;
    font-weight: bold;
    margin-left: 30px;
    text-decoration: none; }
    header .menu a:hover {
      color: #ddd; }
  header .research form {
    padding: 0; }
  header .research input, header .research button {
    height: 40px;
    border: none;
    font-size: 1rem; }
  header .research input {
    width: 70%;
    background-color: #33331a;
    padding-left: 10px;
    margin-right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none; }
    header .research input::placeholder {
      color: #ddd; }
    header .research input:focus {
      background-color: #33331a;
      color: #eee; }
      header .research input:focus::placeholder {
        color: #fff; }
  header .research button {
    width: 15%;
    margin-left: -5px;
    background-color: #444422;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
    cursor: pointer; }

section.main {
  padding-bottom: 60px; }
  section.main h1, section.main h2, section.main h3 {
    font-weight: bolder;
    color: #777; }
  section.main h1 {
    font-size: 2rem;
    margin-top: 60px; }
  section.main h2 {
    font-size: 1.7rem;
    margin-top: 45px; }
  section.main h3 {
    font-size: 1.5rem;
    margin-top: 35px; }
  section.main p {
    font-size: 1.3rem;
    line-height: 2rem;
    color: #555;
    text-align: justify; }
  section.main span.date {
    font-size: 1.2rem;
    font-style: italic;
    color: #888; }
  section.main span.important {
    font-size: 1.2rem;
    font-style: italic;
    color: #000;
    font-weight: bold; }
  section.main a {
    color: #666633;
    text-decoration: none; }
  section.main a:hover {
    color: #cc0000; }

footer {
  margin-top: 40px !important;
  display: block;
  padding-bottom: 40px; }
  footer .md-8 {
    text-align: center; }
  footer hr {
    border: none;
    height: 1px;
    background-color: #ddd;
    margin-bottom: 60px; }
  footer div.social {
    margin-bottom: 40px; }
    footer div.social a {
      text-decoration: none;
      color: #fff;
      margin-right: 20px; }
      footer div.social a img {
        padding: 12px;
        background-color: #bbb;
        border-radius: 50%; }
    footer div.social a.twitter:hover img {
      background-color: #1589E7; }
    footer div.social a.facebook:hover img {
      background-color: #3b5998; }
    footer div.social a.google:hover img {
      background-color: #f00000; }
  footer span.copy {
    color: #555;
    font-size: 1.1rem;
    font-style: italic;
    margin-top: 30px; }

/*                            FORM  SCSS  CODE                            */
div.form-container {
  margin-top: 60px; }
  div.form-container label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 12px;
    display: block; }
    div.form-container label.check {
      display: inline !important; }
  div.form-container input {
    border: 1px solid #ccc; }
  div.form-container input, div.form-container select {
    width: 100%;
    height: 35px;
    line-height: 35px;
    margin-bottom: 30px;
    font-size: 1rem;
    padding-left: 5px;
    color: #444;
    background: none; }
  div.form-container textarea {
    width: 100%;
    height: 200px;
    padding: 10px 5px;
    font-size: 1.1rem;
    margin-bottom: 30px; }
  div.form-container input, div.form-container select, div.form-container textarea {
    outline: none;
    border-radius: 5px; }
    div.form-container input:focus, div.form-container select:focus, div.form-container textarea:focus {
      box-shadow: 0 0 3px #999; }
  div.form-container button {
    height: 50px;
    line-height: 50px;
    padding: 0 40px;
    font-size: 1rem;
    cursor: pointer;
    background: linear-gradient(#666633, #222211);
    border: 1px solid #eee;
    color: #fff;
    border-radius: 6px;
    transition: 300ms ease-in-out; }
    div.form-container button:hover {
      background: linear-gradient(#222211, #666633);
      transition: 300ms ease-in-out; }

div.list ul {
  padding: 0;
  border: 1px solid #efefef; }
  div.list ul li {
    list-style: none;
    height: 40px;
    line-height: 40px;
    color: #555;
    padding-left: 10px; }
    div.list ul li:nth-child(2n) {
      background-color: #efefef; }
    div.list ul li:hover {
      background-color: #e2e2e2; }

/*# sourceMappingURL=main.css.map */
