/*                           GLOBAL  SCSS  CODE                           */
.block {
  width: 1104px;
  margin: 0 auto;
  padding: 0 20px;
  display: block; }
  .block .line {
    width: 98%;
    margin: 0 auto; }
  .block .md-1, .block .md-2, .block .md-3, .block .md-4, .block .md-5, .block .md-6, .block .md-7, .block .md-8, .block .md-9, .block .md-10, .block .md-11, .block .md-12 {
    display: inline-block !important; }
  .block .md-1 {
    width: 8.1%; }
  .block .md-3 {
    width: 24.3%; }
  .block .md-4 {
    width: 32.4%; }
  .block .md-8 {
    width: 64.8%; }
  .block .md-offset-2 {
    margin-left: 16.2%; }

/*                            MAIN  SCSS  CODE                            */
body {
  width: 100vw;
  overflow-x: hidden;
  margin: 0; }

header {
  height: 60px;
  line-height: 60px;
  color: #fff;
  background-color: #ff4c4c;
  position: fixed;
  width: 100%; }
  header .block {
    width: 100% !important; }
    header .block .line {
      padding-right: 25px; }
    header .block .name {
      font-size: 1.3rem;
      font-weight: bold; }
    header .block .menu, header .block .research {
      text-align: right; }
  header .menu ul {
    padding: 0 !important;
    margin: 0 !important; }
  header .menu a {
    color: #fff;
    font-weight: bold;
    margin-left: 30px;
    text-decoration: none; }
  header .research form {
    padding: 0; }
  header .research input, header .research button {
    height: 35px;
    border: none;
    font-size: 1rem; }
  header .research input {
    width: 70%;
    padding-left: 10px; }
  header .research button {
    width: 10%; }

section#title {
  padding: 50px 0 75px 0;
  background-color: #ff4c4c;
  color: #fff;
  padding: 60px; }
  section#title .md-8 {
    text-align: justify;
    float: none !important; }
    section#title .md-8 h1 {
      font-size: 2.5rem; }
    section#title .md-8 p {
      font-size: 1.7rem; }
    section#title .md-8 span.date {
      font-size: 1.2rem;
      font-style: italic;
      color: #ddd; }

section.main {
  padding-bottom: 60px; }
  section.main h1, section.main h2, section.main h3 {
    font-weight: bolder;
    color: #777; }
  section.main h1 {
    font-size: 2rem;
    margin-top: 60px; }
  section.main h2 {
    font-size: 1.7rem;
    margin-top: 45px; }
  section.main h3 {
    font-size: 1.5rem;
    margin-top: 35px; }
  section.main p {
    font-size: 1.4rem;
    color: #555;
    text-align: justify; }
  section.main span.date {
    font-size: 1.2rem;
    font-style: italic;
    color: #888; }
  section.main span.important {
    font-size: 1.2rem;
    font-style: italic;
    color: #000;
    font-weight: bold; }
  section.main a {
    color: #ff4c4c;
    text-decoration: none; }
  section.main a:hover {
    color: #cc0000; }

footer {
  margin-top: 40px !important;
  display: block;
  padding-bottom: 40px; }
  footer .md-8 {
    text-align: center; }
  footer hr {
    border: none;
    height: 1px;
    background-color: #ddd;
    margin-bottom: 60px; }
  footer div.social {
    margin-bottom: 40px; }
    footer div.social a {
      text-decoration: none;
      color: #fff;
      padding: 10px 30px;
      margin: 0 20px; }
    footer div.social a.twitter {
      background-color: #1589E7; }
    footer div.social a.facebook {
      background-color: #3b5998; }
    footer div.social a.google {
      background-color: #e60000; }
  footer span.copy {
    color: #555;
    font-size: 1.1rem;
    font-style: italic;
    margin-top: 30px; }

/*# sourceMappingURL=main.css.map */
